<div class='modal fade' id='leaving_account' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
        <h4 class='modal-title' id='myModalLabel'>Leaving Movie Rated</h4>
      </div>
      <div class='modal-body'>
      <div class='row'>
        <div class='col col-sm-4 col-md-4 col-lg-4'>
          <%= image_tag 'alert.jpg', class: 'img-thumbnail' %>
        </div>
        <div class=' col col-sm-4 col-md-4 col-lg-4 '>
          <p>
            We regret to see you leaving!
            Are you sure you want to leave?
          </p>
          <%= button_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger btn-block' %>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
