.white-text {
  color: white !important;
}
.border-top {
  border-top: 1px solid #333333;
}
.icon-colour-border {
  border-top: 8px solid #96008B;
  border-left: 8px solid #96008B;
  border-bottom: 8px solid #6D008D;
  border-right: 8px solid #6D008D;
}
.radius-none {
  border-radius: 0px !important;
}
.vertical-padding-zero {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.label-font {
  font-weight: inherit;
  font-size: 20px;
}
.center {
  float: none;
  margin: 0 auto;
}
.padding-top {
  padding-top: 35px;
}
.padding-top-none {
  padding-top: 0px !important;
}
.login-footer {
  position: fixed;
  bottom: 0px;
}
.profile-pic {
  height: 300px;
}
.header-logo {
  height: 70px;
  margin-left: 120px;
}
.icon-pic {
  margin-left: 100px;
}
.affix {
  top: 0;
  width: 100%;
  z-index: 1;
}
.site-footer {
  background: black;
  opacity: 0.9;
  padding: 25px;
}
.movie-item {
  background-color: black;
}
.box4 {
  margin: 20px auto;
  min-height: 100px;
  width: 300px;
  padding: 10px;
  background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#fff), to(#fff), color-stop(.2, #f2f2f2));
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.box4:before {
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 10px -10px 8px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg)translate(-14px,20px)skew(-20deg);
}
.box4:after {
  content: '';
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  display: inline-block;
  -webkit-box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(2deg)translate(12px,25px)skew(20deg);
}
.box4 img {
  width: 100%;
  margin-top: 15px;
}
.main-header {
  height: 115px;
}
.black-background {
  width: 100%;
  height: 100%;
}
.container-min {
  min-height: 666px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 70%;
  margin: auto;
}
body {
  background: url(/assets/bg1.jpg) center center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.font-size {
  font-size: 30px;
}
.font-white {
  color: white;
}
.allign-center {
  text-align: center;
}
.home-h1 {
  font-size: 100px;
}
.modal-width {
  width: 90%;
}
.margin-top-20 {
  margin-top: 20px;
}
.home-page-division {
  min-height: 180px;
}
.home-sep-logo {
  background-color: black;
  min-height: inherit;
}
.home-icon {
  height: 90px;
}
.home-posters {
  max-height: 300px;
  max-width: 230px;
  border: 3px solid white;
}
.margin-left-40 {
  margin-left: 40px;
}
.my-alert {
  display: none;
}
html,
body {
  height: 100%;
}
.full-height {
  min-height: 100%;
  background-color: rgba(63, 37, 30, 0.85);
  background: rgba(63, 60, 60, 0.85);
}
.image-height {
  height: 300px;
}

