.white-text {
  color: white !important;
}
.border-top {
  border-top: 1px solid #333333;
}
.icon-colour-border {
  border-top: 8px solid #96008B;
  border-left: 8px solid #96008B;
  border-bottom: 8px solid #6D008D;
  border-right: 8px solid #6D008D;
}
.radius-none {
  border-radius: 0px !important;
}
.vertical-padding-zero {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.label-font {
  font-weight: inherit;
  font-size: 20px;
}
.center {
  float: none;
  margin: 0 auto;
}
.padding-top {
  padding-top: 35px;
}
.padding-top-none {
  padding-top: 0px !important;
}
.login-footer {
  position: fixed;
  bottom: 0px;
}
.profile-pic {
  height: 300px;
}
.header-logo {
  height: 70px;
  margin-left: 120px;
}
.icon-pic {
  margin-left: 100px;
}
.affix {
  top: 0;
  width: 100%;
}
site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background: black;
  opacity: 0.9;
}
